<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'app/css/contact-us.css' %}" />
    
</head>

<body class="bg-gray-100">

    {% include "app/navbar.html" %}
    <!-- empty space creation -->
    <section class="py-6 bg-gray-100">
        <div>&nbsp;</div>
        <!-- <div>&nbsp;</div> -->
        <!-- <div>&nbsp;</div> -->
    </section>

    <!-- Contact Us Section -->
    <section id="wat" class="py-12 bg-gray-100">
        <div class="container mx-auto px-4 ">
            <h2 class="text-3xl font-bold text-center text-pink-700 mb-8">Meet Our Team</h2>
            <div class="grid md:grid-cols-3 gap-8">

                <!-- Team Member 1 -->
                <div class="bg-white p-6 rounded-lg shadow-lg">
                    <img src="{% static "app/image/founder/1.jpeg" %}" alt="Israt Jahan Photo" class="rounded-full w-40 h-40 mx-auto mb-4">
                    <h3 class="text-2xl font-semibold text-center text-gray-800">Israt Jahan</h3>
                    <p class="text-center text-gray-500 mb-4">Co-founder of CareHUB</p>
                    <p class="text-gray-600 text-center">Israt Jahan is the co-founder of CareHUB</p>
                    <div class="text-center mt-4">
                        <a href="mailto:israt151p@gmail.com"
                            class="text-pink-600 hover:text-pink-700">israt151p@gmail.com</a>
                    </div>
                </div>

                <!-- Team Member 2 -->
                <div class="bg-white p-6 rounded-lg shadow-lg">
                    <img src="{% static 'app/image/founder/2.jpg' %}" alt="Asfaq Shahriur Photo" class="rounded-full w-40 h-40 mx-auto mb-4">
                    <h3 class="text-2xl font-semibold text-center text-gray-800">Asfaq Shahriur</h3>
                    <p class="text-center text-gray-500 mb-4">Co-founder of CareHUB</p>
                    <p class="text-gray-600 text-center">Asfaq Shahriur is the co-founder of CareHUB</p>
                    <div class="text-center mt-4">
                        <a href="mailto:asfaq123@gmail.com"
                            class="text-pink-600 hover:text-pink-700">asfaq123@gmail.com</a>
                    </div>
                </div>

                <!-- Team Member 3 -->
                <div class="bg-white p-6 rounded-lg shadow-lg">
                    <img src="{% static 'app/image/founder/3.png' %}" alt="Md Rakibul Islam Photo" class="rounded-full w-40 h-40 mx-auto mb-4">
                    <h3 class="text-2xl font-semibold text-center text-gray-800">Md Rakibul Islam</h3>
                    <p class="text-center text-gray-500 mb-4">Co-founder of CareHUB</p>
                    <p class="text-gray-600 text-center">Md Rakibul Islam is the co-founder of CareHUB</p>
                    <div class="text-center mt-4">
                        <a href="mailto:rakib151p@gmail.com"
                            class="text-pink-600 hover:text-pink-700">rakib151p@gmail.com</a>
                    </div>
                </div>



            </div>
        </div>
        

    </section>

    <!-- Footer -->
    {% include "app/footer.html" %}

</body>

</html>