
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locations</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'app/css/location.css' %}" />
    
</head>

<body class="bg-gray-100">
    {% include "app/navbar.html" %}
   
    <section class="py-6 bg-gray-100">
        <div>&nbsp;</div>
   
    </section>
    <section id="wat">
        <div class="container mx-auto px-4">
            <section class="py-12">
                <div class="container mx-auto px-4 text-center">
                    <h2 class="text-3xl font-bold text-gray-800 mb-6">Stay Updated with the Latest Beauty Trends and
                        Offers
                    </h2>
                    <form action="search_result_of_city.html" method="POST">
                        <input type="text" name="search" placeholder="Enter your nearby place"
                            class="p-2 w-full md:w-1/3 rounded-lg text-gray-800">
                        <button type="submit"
                            class="mt-2 md:mt-0 md:ml-2 p-2 bg-pink-600 text-white rounded-lg hover:bg-pink-700">Search</button>
                    </form>
                </div>
            </section>
        </div>

        <body class="bg-gray-100">
            <div class="container mx-auto py-12">
                <h2 class="text-4xl font-bold text-gray-800 text-center mb-8">Browse by City</h2>

              
                <div class="flex justify-center space-x-4 city-list mb-8">
                    <form action="search_by_city.html" method="POST">
                        <input type="hidden" name="city" value="Dhaka">
                        <button type="submit" class="bg-transparent text-black">Dhaka</button>
                    </form>

                    <form action="search_by_city.html" method="POST">
                        <input type="hidden" name="city" value="Chittagong">
                        <button type="submit" class="bg-transparent text-black">Chittagong</button>
                    </form>

                    <form action="search_by_city.html" method="POST">
                        <input type="hidden" name="city" value="Rajshahi">
                        <button type="submit" class="bg-transparent text-black">Rajshahi</button>
                    </form>

                    <form action="search_by_city.html" method="POST">
                        <input type="hidden" name="city" value="Barisal">
                        <button type="submit" class="bg-transparent text-black">Barisal</button>
                    </form>

                    <form action="search_by_city.html" method="POST">
                        <input type="hidden" name="city" value="Khulna">
                        <button type="submit" class="bg-transparent text-black">Khulna</button>
                    </form>

                    <form action="search_by_city.html" method="POST">
                        <input type="hidden" name="city" value="Mymensingh">
                        <button type="submit" class="bg-transparent text-black">Mymensingh</button>
                    </form>

                    <form action="search_by_city.html" method="POST">
                        <input type="hidden" name="city" value="Rangpur">
                        <button type="submit" class="bg-transparent text-black">Rangpur</button>
                    </form>
                </div>

                <div class="grid grid-cols-5 gap-8 city-section text-left center">
                        <div>
                            <h3 class="text-lg font-bold">Dhaka</h3>
                            <ul>
                                <li><a href="#" class="text-gray-700">Mirpur </a></li>   
                                <li><a href="#" class="text-gray-700">baridhara </a></li> 
                                <li><a href="#" class="text-gray-700">Badda</a></li>
                                <li><a href="#" class="text-gray-700">Banani</a></li>   
                                <li><a href="#" class="text-gray-700">Mohakhali</a></li>   
                            </ul>
                        </div>
                        <div>
                            <h3 class="text-lg font-bold">Comilla</h3>
                            <ul>
                                <li><a href="#" class="text-gray-700">Comilla Sadar </a></li>   
                                <li><a href="#" class="text-gray-700">Debidwar </a></li> 
                                <li><a href="#" class="text-gray-700">Candina</a></li>
                                <li><a href="#" class="text-gray-700">Cantman</a></li>   
                                <li><a href="#" class="text-gray-700">Moynamati</a></li>   
                            </ul>
                        </div>
                        <div>
                            <h3 class="text-lg font-bold">Dhaka</h3>
                            <ul>
                                <li><a href="#" class="text-gray-700">Dhaka </a></li>   
                                <li><a href="#" class="text-gray-700">Dhaka </a></li> 
                                <li><a href="#" class="text-gray-700">Dhaka </a></li>
                                <li><a href="#" class="text-gray-700">Dhaka </a></li>   
                                <li><a href="#" class="text-gray-700">Dhaka </a></li>   
                            </ul>
                        </div>
                        <div>
                            <h3 class="text-lg font-bold">Dhaka</h3>
                            <ul>
                                <li><a href="#" class="text-gray-700">Dhaka </a></li>   
                                <li><a href="#" class="text-gray-700">Dhaka </a></li> 
                                <li><a href="#" class="text-gray-700">Dhaka </a></li>
                                <li><a href="#" class="text-gray-700">Dhaka </a></li>   
                                <li><a href="#" class="text-gray-700">Dhaka </a></li>   
                            </ul>
                        </div>
                        <div>
                            <h3 class="text-lg font-bold">Dhaka</h3>
                            <ul>
                                <li><a href="#" class="text-gray-700">Dhaka </a></li>   
                                <li><a href="#" class="text-gray-700">Dhaka </a></li> 
                                <li><a href="#" class="text-gray-700">Dhaka </a></li>
                                <li><a href="#" class="text-gray-700">Dhaka </a></li>   
                                <li><a href="#" class="text-gray-700">Dhaka </a></li>   
                            </ul>
                        </div>
                </div>
            </div>
        </body>
      
        <div class="wave water"></div>
        <div class="wave water"></div>
        <div class="wave water"></div>
        <div class="wave water"></div>
     

    </section>
    {% include "app/footer.html" %}
</body>

</html>