
    {% if user.is_authenticated %}
        {% if user.user_type == "shop" %}
            <a href="dashboard" class="text-gray-700 hover:text-pink-600">Dashboard</a>
        {% elif user.user_type == "user" %}
            <a href="myprofile" class="text-gray-700 hover:text-pink-600">{{ user.user_profile.first_name}} {{user.user_profile.last_name }}</a>
        {% else %}
            <a href="/admin" class="text-gray-700 hover:text-pink-600">Admin</a>
        {% endif %}
        
        {% else %}
            <a href="{% url 'login' %}" class="text-gray-700 hover:text-pink-600">Login</a>
    {% endif %}
