.bg-black {
    opacity: 0.8;
    background-image: url("professional.jpg");
  }

  .bg-gray-100 {
    background-color: #f8f6ff;
  }

  .text-gray-700 {
    font-weight: bolder;
  }

  .t {
    font-size: 50px;
  }

  * {
    font-family: cursive;
  }

  section div div h1 {
    font-weight: 900;
  }

  h1 {
    font-weight: 900;
  }

  #navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  #weight {
    font-weight: 800px;
    color: pink;
    font-style: italic;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .s {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
  }

  #imagesize:hover {
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
    transform: scale(1.1);
  }

  #writeReviewBtn {
    margin: 0 0 0 45%;
  }

  #background {
    background-image: url(pexels-delbeautybox-211032-705255.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sha {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  #backgroundinside {
    background-color: rgba(0, 0, 0, 0.4);
  }

  body {
    /* background-image: url(pawel-czerwinski-OG44d93iNJk-unsplash.jpg); */
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #bg {
    background-color: rgb(0, 0, 0, 0.1);
  }

  #reviewsContainer {
    width: 400px;
  }

  .cards {
    border: 2px solid #ccc;
  }