<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
<html lang="en">

<head>
    <title>Addresses</title>
    <link rel="icon" type="image/x-icon" href="{% static 'app/image/favicon.ico' %}" />
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
    {% include 'app/message.html' %}
</head>

<body class="bg-gray-100 pt-20">
    {% include 'app/navbar.html' %}
    
    <section class="flex flex-col md:flex-row">
        {% include 'app/customer_profile/sidebar.html' %}
     
        <div class="flex-1 p-6">
            <h3 class="text-2xl font-bold text-pink-700 mb-6">Address of Booking</h3>
            <div class="card max-w-4xl mx-auto bg-white shadow-lg rounded-lg p-6">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
                        <!-- District Dropdown -->
                        <div>
                            <label for="district" class="font-semibold">District</label>
                            <select id="district" name="district"
                                class="border border-gray-300 p-2 rounded-lg w-full focus:outline-none focus:border-pink-600"
                                required>
                                {% for dist in district %}
                                    <option value="{{ dist.name }}" {% if dist.name == user.user_state %} selected {% endif %}>{{ dist.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="upazilla" class="font-semibold">Upazilla</label>
                            <select id="upazilla" name="upazilla"
                                class="border border-gray-300 p-2 rounded-lg w-full focus:outline-none focus:border-pink-600"
                                required>
                                <option value="{{user.user_city}}" disabled selected>{{user.user_city}}</option>
                            </select> 
                        </div>
    
                        <div>
                            <label for="area" class="font-semibold">Area</label>
                            <input type="text" id="area" name="area" class="text-gray-600 w-full p-2 border rounded"
                                value="{{user.user_area}}" required>
                        </div>

                        <div>
                            <label for="latitude" class="font-semibold">Latitude</label>
                            <input type="text" id="latitude" name="latitude" class="text-gray-600 w-full p-2 border rounded"
                                value="{{user.latitude}}" required>
                        </div>
    
                        <div>
                            <label for="longitude" class="font-semibold">Longitude</label>
                            <input type="text" id="longitude" name="longitude"
                                class="text-gray-600 w-full p-2 border rounded"
                                value="{{user.longitude}}" required>
                        </div>
    
                        <div>
                            <label for="longitude" class="font-semibold">&nbsp;</label>
                            <button type="button"
                                class="bg-pink-500 text-white p-2 w-full rounded-lg hover:bg-pink-700 transition duration-300"
                                onclick="getLocation()">Get My Location</button>
                        </div>
                    </div>
    
                    <!-- Keep Changes Button -->
                    <div class="flex space-x-4">
                        <button name="submit" id="btn"
                            class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded">Keep changes</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% include 'app/footer.html' %}
    {% include 'app/address.html' %}
</body>
</html>