<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
<html lang="en">

<head>
   
    <title>Addresses</title>
    <link rel="icon" type="image/x-icon" href="{% static 'app/image/favicon.ico' %}" />
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    
</head>

<body class="bg-gray-100 pt-20">
    {% include 'app/navbar.html' %}
    
    <section class="flex flex-col md:flex-row">
        {% include 'app/customer_profile/sidebar.html' %}
     
        <div class="flex-1 p-6">
            <h3 class="text-2xl font-bold text-pink-700 mb-6">Address of Booking</h3>
            <div class="card max-w-4xl mx-auto bg-white shadow-lg rounded-lg p-6">
                <form action="" method="POST">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
                        <!-- District Dropdown -->
                        <div>
                            <label for="district" class="font-semibold">District</label>
                            <select id="district" name="district"
                                class="border border-gray-300 p-2 rounded-lg w-full focus:outline-none focus:border-pink-600"
                                required>
                                {% for dist in district %}
                                 <option value="{{ dist.name }}">{{ dist.name }}</option>
                                 {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="upazilla" class="font-semibold">Upazilla</label>
                            <select id="upazilla" name="upazilla"
                                class="border border-gray-300 p-2 rounded-lg w-full focus:outline-none focus:border-pink-600"
                                required>
                                <option value="" disabled selected>Select Upazilla</option>
                            </select>
                        </div>
    
                        <div>
                            <label for="area" class="font-semibold">Area</label>
                            <input type="text" id="area" name="area" class="text-gray-600 w-full p-2 border rounded"
                                value="" required>
                        </div>

                        <div>
                            <label for="latitude" class="font-semibold">Latitude</label>
                            <input type="text" id="latitude" name="latitude" class="text-gray-600 w-full p-2 border rounded"
                                value="" required>
                        </div>
    
                        <div>
                            <label for="longitude" class="font-semibold">Longitude</label>
                            <input type="text" id="longitude" name="longitude"
                                class="text-gray-600 w-full p-2 border rounded"
                                value="" required>
                        </div>
    
                        <div>
                            <label for="longitude" class="font-semibold">&nbsp;</label>
                            <button type="button"
                                class="bg-pink-500 text-white p-2 w-full rounded-lg hover:bg-pink-700 transition duration-300"
                                onclick="getLocation()">Get My Location</button>
                        </div>
                    </div>
    
                    <!-- Keep Changes Button -->
                    <div class="flex space-x-4">
                        <button name="submit" id="btn"
                            class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded">Keep changes</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% include 'app/footer.html' %}
</body>
<script>
    const citiesBydistrict = {
        {% for upazilla in Upazilla %}
        "{{ upazilla.district__name }}": [
            {% for index in upazilla.upazilla_names %}
            "{{ index }}"{% if not forloop.last %}, {% endif %}
            {% endfor %}
        ]{% if not forloop.last %}, {% endif %}
        {% endfor %}
    };

    document
        .getElementById("district")
        .addEventListener("change", function() {
            const district = this.value;
            const upazillaSelect = document.getElementById("upazilla");
            upazillaSelect.innerHTML =
                '<option value="" disabled selected>Select upazilla</option>';

            if (district) {
                const cities = citiesBydistrict[district];
                cities.forEach((upazilla) => {
                    const option = document.createElement("option");
                    option.value = upazilla;
                    option.textContent = upazilla;
                    upazillaSelect.appendChild(option);
                });
            }
        });

    function getLocation() {
        // Check if Geolocation is supported
        if (navigator.geolocation) {
            // Get the current position
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            document.getElementById("location").innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;
        document.getElementById("latitude").value = latitude;
        document.getElementById("longitude").value = longitude;
    }

    function showError(error) {
        // Handle errors
        switch (error.code) {
            case error.PERMISSION_DENIED:
                document.getElementById("location").innerHTML = "User denied the request for Geolocation.";
                break;
            case error.POSITION_UNAVAILABLE:
                document.getElementById("location").innerHTML = "Location information is unavailable.";
                break;
            case error.TIMEOUT:
                document.getElementById("location").innerHTML = "The request to get user location timed out.";
                break;
            case error.UNKNOWN_ERROR:
                document.getElementById("location").innerHTML = "An unknown error occurred.";
                break;
        }
    }
</script>

</html>