<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bookings</title>
    {% tailwind_css %}
    {% include 'app/message.html' %}
</head>

<body class="bg-gray-100 pt-20">
    {% include 'app/navbar.html' %}
    
    <section class="flex flex-col md:flex-row">
        {% include 'app/customer_profile/sidebar.html' %}
     
        <div class="flex-1 p-6">
            <h3 class="text-2xl font-bold text-pink-700 mb-6">My Bookings</h3>

            <!-- Table displaying booking data -->
            <div class="overflow-x-auto bg-white rounded-lg shadow-md">
                <table class="min-w-full bg-white border border-gray-200 rounded-lg">
                    <thead class="bg-pink-500 text-white">
                        <tr>
                            <th class="px-4 py-2 text-left">Booking Date</th>
                            <th class="px-4 py-2 text-left">Shop Name</th>
                            <th class="px-4 py-2 text-left">Item</th>
                            <th class="px-4 py-2 text-left">Appointment Date</th>
                            <th class="px-4 py-2 text-left">Time</th>
                            <th class="px-4 py-2 text-left">Expert</th>
                            <th class="px-4 py-2 text-left">Action</th>
                            <th class="px-4 py-2 text-left">Details</th>
                            
                        </tr>
                    </thead>
                    <tbody class="text-gray-700">
                        {% for booking in bookings%}
                            <tr class="border-t hover:bg-gray-100">
                                <td class="px-4 py-2">{{booking.created_at}}</td>
                                <td class="px-4 py-2">{{booking.shop.shop_name}}</td>
                                <td class="px-4 py-2">{{booking.item.name}}</td>
                                <td class="px-4 py-2">{{booking.date}}</td>
                                <td class="px-4 py-2">{{booking.time}}</td>
                                <td class="px-4 py-2">{{booking.worker.name}}</td>
                                <td class="px-4 py-2">
                                    {% if booking.status != "completed" %}
                                        {% if booking.user_end %}
                                        <button
                                            class="bg-blue-500 text-white py-2 px-4 rounded-lg opacity-50 cursor-not-allowed">Confirmed!</button>
                                            {% if not booking.rated %}
                                                <button onclick="rating({{booking.id}},'{{booking.worker.name}}')" class="bg-pink-500 hover:bg-pink-600 text-white font-semibold py-2 px-4 rounded">Rate</button>
                                            {% endif %}
                                        {% else %}
                                            {% if booking.is_expired %}
                                                <button
                                                    class="book-button bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition"
                                                    data-booking-id="{{ booking.id }}">
                                                    Confirm?
                                                </button>
                                                <button
                                                    class="report-button bg-red-500 text-white py-2 px-4 rounded-lg hover:bg-red-600 transition"
                                                    data-booking-id="{{ booking.id }}"
                                                    onclick="open_report_modal()">
                                                    Report
                                                </button>
                                            {%else%}
                                                <button
                                                    class="bg-blue-500 text-white py-2 px-4 rounded-lg opacity-50 cursor-not-allowed">Pending!</button>
                                                <button class="reject-button bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600" 
                                                    data-booking-id="{{ booking.id }}">Cancel</button>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                    <button
                                        class="bg-green-500 text-white py-2 px-4 rounded-lg opacity-50 cursor-not-allowed">Completed!</button>
                                        {% if not booking.rated %}
                                            <button onclick="rating({{booking.id}},'{{booking.worker.name}}')" class="bg-pink-500 hover:bg-pink-600 text-white font-semibold py-2 px-4 rounded">Rate</button>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="px-4 py-2">
                                    <button
                                        class="see-more-button bg-gray-700 text-white py-2 px-4 rounded-lg hover:bg-gray-800 transition"
                                        data-booking-id="{{ booking.id }}">
                                        See details
                                    </button>
                                </td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- Overlay for Modal -->
    <div id="overlay" class="hidden fixed inset-0 bg-black opacity-80 z-40"></div>

    {% comment %} rating form  {% endcomment %}
    <div id="editModal" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 hidden">
        <div class="bg-white rounded-lg shadow-md p-6 w-full max-w-md">
            <h2 class="text-xl font-bold mb-4">Rate the barber!</h2>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="to" class="block text-sm font-medium">To:</label>
                    <input type="text" id="to" name="To" required class="border border-gray-300 p-2 w-full" disabled>
                    <input type="hidden" id="To" name="to">
                    <input type="hidden" id="rating" name="rating" value="" required>
                </div>
                <!-- Star Rating System -->
                <div class="flex mb-4">
                    <span class="star w-6 h-6 text-gray-400 cursor-pointer" data-value="1">&#9733;</span>
                    <span class="star w-6 h-6 text-gray-400 cursor-pointer" data-value="2">&#9733;</span>
                    <span class="star w-6 h-6 text-gray-400 cursor-pointer" data-value="3">&#9733;</span>
                    <span class="star w-6 h-6 text-gray-400 cursor-pointer" data-value="4">&#9733;</span>
                    <span class="star w-6 h-6 text-gray-400 cursor-pointer" data-value="5">&#9733;</span>
                </div>
                <div class="flex justify-end mt-4">
                    <button type="button"
                        class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded mr-2"
                        onclick="cancel()">Cancel</button>
                    <button type="submit" name="submit"
                        class="bg-pink-500 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded"
                        >Save</button>
                </div>
            </form>
        </div>
    </div>

    {% comment %} reporting form  {% endcomment %}
    <div id="reportModal" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 hidden">
        <div class="bg-white rounded-lg shadow-md p-6 w-full max-w-md">
            <h2 class="text-xl font-bold mb-4">Reporting form!</h2>
            <form method="POST" action="">
                {% csrf_token %}
                {% comment %} <div class="mb-4">
                    <label for="to" class="block text-sm font-medium">To:</label>
                    <input type="text" id="to" name="To" required class="border border-gray-300 p-2 w-full" disabled>
                    <input type="hidden" id="To" name="to">
                    <input type="hidden" id="rating" name="rating" value="" required>
                </div> {% endcomment %}
                <!-- Textarea for Report Description -->
                <div class="mb-4">
                    <label for="report_description" class="block text-sm font-medium">Report Description:</label>
                    <textarea id="report_description" name="report_description" rows="4"
                        class="border border-gray-300 p-2 w-full resize-none" required></textarea>
                </div>
                <div class="flex justify-end mt-4">
                    <button type="button"
                        class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded mr-2"
                        onclick="closeEditModal()">Cancel</button>
                    <button type="submit" name="submit"
                        class="bg-pink-500 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded"
                        >Save</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function open_report_modal() {
            document.getElementById('reportModal').classList.remove('hidden');
        }

        function closeEditModal() {
            document.getElementById('reportModal').classList.add('hidden');
        }
    </script>
    <!-- JavaScript for Modal and Form Handling -->
    <script>
        
        // Function to show the rating form
        function rating(booking_id,worker) {
            document.getElementById('to').value = 'Worker: ' + worker; // Display booking ID in the disabled field
            document.getElementById('To').value = booking_id; // Hidden field for actual booking ID
            document.getElementById('editModal').classList.remove('hidden');
        }
        // Function to handle the cancel button
        function cancel() {
            if (confirm('Are you sure you want to cancel submission?')) {
                // Clear the form
                document.getElementById('to').value = '';
                document.getElementById('To').value = '';
                document.getElementById('rating').value = '';
                document.getElementById('editModal').classList.add('hidden');
            }
        }
        // Handling stars for rating
        document.addEventListener('DOMContentLoaded', () => {
            console.log('check');
            const stars = document.querySelectorAll('.star');
            const ratingInput = document.getElementById('rating');
            // Set up click event listener for each star
            stars.forEach(star => {
                star.addEventListener('click', () => {
                    const selectedRating = parseInt(star.getAttribute('data-value'));
                    // Update hidden input value
                    ratingInput.value = selectedRating;
                    // Reset all stars to gray
                    stars.forEach(s => s.classList.remove('text-yellow-500'));
                    // Highlight all stars up to the selected one
                    for (let i = 0; i < selectedRating; i++) {
                        stars[i].classList.add('text-yellow-500');
                    }
                });
            });
        });
        // Form submission handler
        document.querySelector('#editModal form').addEventListener('submit', function (event) {
            const rating = document.getElementById('rating').value;
            if (rating === '') {
                alert('Please select a rating before submitting.');
                event.preventDefault();
            }
        });
        {% include "app/salon_dashboard/booking_details.html" %}
    </script>
    {% include 'app/footer.html' %}
</body>
</html>
