<header id="navbar" class="bg-white shadow">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <a href="/" class="text-5xl font-bold text-pink-700">CareHUB BD</a>
        <nav class="space-x-6">
            <div class="navbar">

            {% include 'app/login.html' %}
            </div>
        <div class="relation">
            <button class="arrow_bottom" onclick="toggleDropdown()">
                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7">
                    </path>
                </svg>
            </button>

            <!-- Dropdown Menu -->
            <div id="dropdownMenu"
                class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg overflow-hidden z-20 hidden">
                <a href="../home.php" class="text-2xl font-bold hover:text-pink-600"
                    style="font-size:16px;margin:0 0 0 15px;">Home</a><br>
                <a href="My_profile.php" class="text-2xl font-bold hover:text-pink-600"
                    style="font-size:16px;margin:0 0 0 15px;">Profile</a><br>
                <a href="addressofbooking.php" class="text-2xl font-bold hover:text-pink-600"
                    style="font-size:16px;margin:0 0 0 15px;">Book & address</a><br>
                <a href="myreviews.php" class="text-2xl font-bold hover:text-pink-600"
                    style="font-size:16px;margin:0 0 0 15px;">Review</a><br>
                <a href="mycancellations.php" class="text-2xl font-bold hover:text-pink-600"
                    style="font-size:16px;margin:0 0 0 15px;">Cancel products</a><br>
                <?php
                if (isset($_SESSION['type'])) {
                    echo '<a href="../logout.php" class="text-gray-700 hover:text-pink-600 " style="font-size:16px;margin:0 0 0 15px;">Logout</a>';
                }
                ?>
            </div>
        </nav>
        </div>
    </header>

    <script>
        function toggleDropdown() {
            document.getElementById('dropdownMenu').classList.toggle('hidden');
        }
    </script>

    