<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Salon Dashboard</title>
    <link rel="icon" type="image/x-icon" href="{% static 'app/image/favicon.ico' %}" />
    {% tailwind_css %}
    <body class="bg-gray-100">
        {% include "app/salon_dashboard/header.html" %}
        
        <section class="flex flex-col md:flex-row min-h-screen">
            {% include "app/salon_dashboard/sidebar.html" %}
        
            <div class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-100 p-6">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 ">
                    {% for worker in shop_worker %}
                    <div class="bg-white shadow-md rounded-md p-6 flex flex-col items-center">
                        <img src="{{worker.worker.profile_pic.url}}" alt="worker_pic"
                            class="w-24 h-24 md:w-32 md:h-32 rounded-full border-2 border-gray-300 object-cover">
                        <h3 class="text-lg font-semibold text-gray-800 text-center mt-4">
                            {{ worker.worker.name }}'s Schedule
                        </h3>
                        <div class="mt-4 w-full text-center">
                            {% for slot in worker.booking_slots %}
                            <h5 class="text-gray-700 font-medium mb-2">
                                {{ slot.time|time:"g:i a" }}
                            </h5>
                            <div class="grid grid-cols-3 gap-2">
                                <button class="accept-button bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600" 
                                     data-booking-id="{{ slot.id }}">Accept</button>
                                 <button class="reject-button bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600" 
                                     data-booking-id="{{ slot.id }}">Reject</button>
                                 <button class="see-more-button bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600" 
                                     data-booking-id="{{ slot.id }}">See details</button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% include "app/salon_dashboard/booking_details.html" %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                document.querySelectorAll('.accept-button').forEach(button => {
                    button.addEventListener('click', () => {
                        const bookingId = button.getAttribute('data-booking-id');
                        alert("booking-id");
                        fetch('accept-booking/', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({ booking_id: bookingId })
                        })
                        .then(response => response.json())
                        .then(data => {
                            alert(data.message);
                            window.location.reload();
                        });
                    });
                });
                document.querySelectorAll('.reject-button').forEach(button => {
                    button.addEventListener('click', () => {
                        const bookingId = button.getAttribute('data-booking-id');
                        fetch('reject-booking/', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({ booking_id: bookingId })
                        })
                        .then(response => response.json())
                        .then(data => {
                            alert(data.message);
                            window.location.reload();
                        });
                    });
                });
            });
        </script>
</body>
</html>
