<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Salon Customer</title>
    <link rel="icon" type="image/x-icon" href="{% static 'app/image/favicon.ico' %}" />
    {% tailwind_css %}
</head>

<body class="bg-gray-100 text-gray-800">
    {% include "app/salon_dashboard/header.html" %}

    <section class="flex flex-col md:flex-row min-h-screen">
        {% include "app/salon_dashboard/sidebar.html" %}

        <div class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
            <div class="main-content p-4 flex-1">
                <div class="overflow-x-auto bg-white p-4 shadow-lg rounded-lg">
                    <table class="min-w-full border border-gray-200 rounded-lg">
                        <thead class="bg-pink-500">
                            <tr>
                                <th class="py-2 px-4 text-left">Serial No</th>
                                <th class="py-2 px-4 text-left">Date</th>
                                <th class="py-2 px-4 text-left">Customer Name</th>
                                <th class="py-2 px-4 text-left">Review</th>
                                <th class="py-2 px-4 text-left">Rating</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-white">
                            <tr class="border-b hover:bg-pink-100">
                                <td class="py-2 px-4">1</td>
                                <td class="py-2 px-4">10.02.1025</td>
                                <td class="py-2 px-4">Israt Jahan</td>
                                <td class="py-2 px-4">It's the best place</td>
                                <td class="py-2 px-4 font-bold text-yellow-500">5/5</td>
                            </tr>
                            <tr class="border-b hover:bg-pink-100">
                                <td class="py-2 px-4">2</td>
                                <td class="py-2 px-4">10.02.1025</td>
                                <td class="py-2 px-4">Israt Jahan</td>
                                <td class="py-2 px-4">It's the best place</td>
                                <td class="py-2 px-4 font-bold text-yellow-500">5/5</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="mt-4 text-sm text-gray-500">No bookings found.</p>
            </div>
        </div>
        
    </section>
</body>

</html>
