{% load static %}
<!-- Add this inside your base template <head> -->
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Parisienne&display=swap" rel="stylesheet">
 
    <style>
        .shop-name {
            font-family: 'Dancing Script', cursive;
            font-size: 2.75rem;
            color: #fff;
            font-weight: 500;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            letter-spacing: 1px;
        }
    
        .shop-name:hover {
            color: #ffe4ed;
            transition: color 0.3s ease-in-out;
        }
    </style>
    
    <header id="navbar" class="bg-white shadow">
        <div class="header flex justify-between items-center bg-pink-500 shadow-lg py-2 px-6">
    
            <a href="/home" class="flex items-center">
                <img src="{% static 'app/image/logo.jpg' %}" alt="Logo" class="h-16 w-16 w-auto object-contain rounded-full">
            </a>
    
            <!-- Shop Name (Parlor Name) -->
            <h2 class="shop-name text-white ml-10">
                {% if user.is_authenticated %}
                    {{ user.shop_profile.shop_name }}
                {% endif %}
            </h2>
    
            <!-- Notification and Logout -->
            <div class="notification flex items-center space-x-4" style="margin-right:40px;">
                <a href="notifications">
                <div class="relative">
                    <img src="{% static 'app/image/icon/notification.png' %}" alt="Notification Icon"
                        class="w-8 h-8 rounded-full hover:bg-pink-700 transition-all duration-300">
                    <span class="absolute top-0 right-0 text-xs text-white bg-red-500 rounded-full w-4 h-4 flex items-center justify-center">{{notification}}</span>
                </div>
                </a>
                <a href="../logout" class="hover:text-pink-300">
                    <img src="{% static 'app/image/icon/logout.png'%}" alt="Logout"
                        class="w-8 h-8 rounded-full hover:bg-pink-700 transition-all duration-300">
                </a>
            </div>
    
        </div>
    </div>
    </header>