
<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notifications</title>
    <link rel="icon" type="image/x-icon" href="{% static 'app/image/favicon.ico' %}" />
    {% tailwind_css %}
    {% comment %} <link rel="stylesheet" href="{% static 'app/css/salon-dashboard/style.css' %}" /> {% endcomment %}
    <style>
        .bg-green-100{
            background-color:rgb(158, 242, 181);
        }
        .border-green-700{
            border-color:rgb(7, 141, 42);
        }
    </style>
</head>

<body class="bg-gray-200 font-sans leading-normal tracking-normal">

    <div class="flex h-screen">
        
        {% include "app/salon_dashboard/sidebar.html" %}
        
        <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
            <div class="main-content p-4 flex-1">
                
                {% include "app/salon_dashboard/header.html" %}
            
            <div class="flex flex-col gap-5">
                {%for notification in notifications%}
                    <div class="bg-green-100 border border-green-700 p-6 rounded relative" role="alert">
                        <h4 class="font-bold text-lg">{{notification.title}}</h4>
                        <p class="mt-2">{{notification.message}}</p>
                        <p class="mb-0">Admin, CareHub BD</p>
                        <span id="current-time" class="absolute bottom-0 right-0 mb-2 mr-2 text-sm text-gray-500">Time: {{notification.created_at}}</span>
                    </div>
                {%endfor%}
            </div>
            
        </main>
    </div>
</body>

</html>