<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Salon Deshboard</title>
    <link rel="icon" type="image/x-icon" href="{% static 'app/image/favicon.ico' %}" />
    {% tailwind_css %}
   
</head>
<body class="bg-gray-100">
    {% include "app/salon_dashboard/header.html" %}
    
    <section class="flex flex-col md:flex-row">
        {% include "app/salon_dashboard/sidebar.html" %}
     
        <div class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
            <div class="main-content p-4 flex-1">
                <div class="message-area px-4 py-6 bg-white rounded-lg shadow">
                    <div id="messageContainer" class="grid grid-cols-12 gap-y-2">
                        <!-- Messages will be loaded here via AJAX -->
                    </div>
                </div>
            </div>
        </div>
    </section>    
</body>

</html>