
<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
    <link rel="icon" type="image/x-icon" href="{% static 'app/image/favicon.ico' %}" />
   
</head>

<body class="bg-gray-200 font-sans leading-normal tracking-normal">

    <div class="flex h-screen">
        <!-- Sidebar -->
        {% include "app/salon_dashboard/sidebar.html" %}
        <!-- Main Content Area -->
        <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
            <div class="main-content p-4 flex-1">
                {% include "app/salon_dashboard/header.html" %}
                <div class="flex justify-center items-start min-h-screen pt-20">
                    <a href="basic_update"
                        class="bg-blue-500 text-white font-semibold py-3 px-6 rounded-lg shadow-lg hover:bg-green-600 transition duration-300 ease-in-out">
                        Basic Update
                    </a>
                    <a href="schedule_update"
                        class="bg-blue-500 text-white font-semibold py-3 px-6 rounded-lg shadow-lg hover:bg-green-600 transition duration-300 ease-in-out ml-6">
                        Schedule Update
                    </a>
                </div>
            </div>
        </main>
</body>

</html>