<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <link rel="icon" type="image/x-icon" href="{% static 'app/image/favicon.ico' %}" />
    {% tailwind_css %}
    
</head>

<body class="bg-gray-100">
    {% include "app/salon_dashboard/header.html" %}
    
    <section class="flex flex-col md:flex-row">
        {% include "app/salon_dashboard/sidebar.html" %}
     
        <div class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
            <div class="main-content p-4 flex-1">
                <div class="flex justify-center items-start min-h-screen pt-20">
                    <a href="basic_update"
                        class="bg-blue-500 text-white font-semibold py-3 px-6 rounded-lg shadow-lg hover:bg-green-600 transition duration-300 ease-in-out">
                        Basic Update
                    </a>
                    <a href="schedule_update"
                        class="bg-blue-500 text-white font-semibold py-3 px-6 rounded-lg shadow-lg hover:bg-green-600 transition duration-300 ease-in-out ml-6">
                        Schedule Update
                    </a>
                </div>
            </div>
        </div>
    </section>

</body>

</html>