<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>

<style>
    
  
    
</style>
</head>
<body>
<!-- Header -->
<div class="bg-gray-800 text-gray-100 w-64 space-y-6 py-7 px-2" id="dashboard">
    <div class="flex items-center justify-center">
        <span class="text-2xl font-extrabold uppercase" style="margin-right:40px"><a
                href="home">CareHub</a> </span>
    </div>
    <nav class="mt-10">
        <a href="salon_dashboard"
            class="block py-2.5 px-4 rounded-lg mt-2 bg-pink-600 text-gray-100">Dashboard</a>
        <a href="saloon_gallery.php" class="block py-2.5 px-4 rounded-lg mt-2 hover:bg-pink-500">Photo
            Gallery</a>
        <a href="saloon_calender.php" class="block py-2.5 px-4 rounded-lg mt-2 hover:bg-pink-500">Calendar</a>
        <a href="booking_slots.php" class="block py-2.5 px-4 rounded-lg mt-2 hover:bg-pink-500">Appointments</a>
        <a href="message.php"
            class="block py-2.5 px-4 rounded-lg mt-2 hover:bg-pink-500">Message&nbsp;</a>
        <a href="staffs.php" class="block py-2.5 px-4 rounded-lg mt-2 hover:bg-pink-500">Staffs</a>
        <a href="Customers" class="block py-2.5 px-4 rounded-lg mt-2 hover:bg-pink-500">Customers</a>
        <a href="Reviews.php" class="block py-2.5 px-4 rounded-lg mt-2 hover:bg-pink-500">Reviews</a>
        <a href="Notifications.php"
            class="block py-2.5 px-4 rounded-lg mt-2 hover:bg-pink-500">Notifications&nbsp;</a>
        <a href="saloon_setting.php" class="block py-2.5 px-4 rounded-lg mt-2 hover:bg-pink-500">Settings</a>
    </nav>
</div>


</body>
</html>
