<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Update</title>
    <link rel="icon" type="image/x-icon" href="{% static 'app/image/favicon.ico' %}" />
    {% tailwind_css %}
</head>
<body class="bg-gray-100">
    {% include "app/salon_dashboard/header.html" %} 
    <section class="flex flex-col md:flex-row min-h-screen">
        {% include "app/salon_dashboard/sidebar.html" %}
     
        
    </section>
    {% include 'app/address.html' %}
</body>

</html>