<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop addresses</title>
    <link rel="icon" type="image/x-icon" href="{% static 'app/image/favicon.ico' %}" />
    {% tailwind_css %}
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen ">
  <div class="bg-white p-10 rounded-2xl shadow-lg w-1/2">
      <div class="flex items-center justify-between mb-6">
          <a href="{% url 'business_register_step2' %}">
              <img src="{% static 'app/image/icon/left-arrow.png' %}" alt="" class="w-8 h-8">
          </a> 
          <h2 class="text-2xl font-semibold text-gray-700 text-center flex-1">Write Your Shop Address</h2>
          <div class="w-8"></div>
      </div>

      <form action="{% url 'business_register_step3' %}" method="POST" id="shopAddressForm">
        {% csrf_token %}
        <div class="mb-4">
          <label for="district" class="block text-gray-700 font-bold mb-2">Select Your District *</label>
          {{ form.district }}
          {% if form.district.errors %}
              <p class="text-red-600 text-sm mt-1">{{ form.district.errors.as_text }}</p>
          {% endif %}
        </div>
        <div class="mb-4">
          <label for="upazilla" class="block text-gray-700 font-bold mb-2">Shop Upazilla *</label>
          {{ form.upazilla }}
          {% if form.upazilla.errors %}
              <p class="text-red-600 text-sm mt-1">{{ form.upazilla.errors.as_text }}</p>
          {% endif %}
        </div>
        <div class="mb-4">
          <label for="area" class="block text-gray-700 font-bold mb-2">Shop Area *</label>
          {{ form.area }}
          {% if form.area.errors %}
              <p class="text-red-600 text-sm mt-1">{{ form.area.errors.as_text }}</p>
          {% endif %}
        </div>
        <div class="mb-4">
          <label for="landmarks" class="block text-gray-700 font-bold mb-2">Landmark Addresses (At least 3 required) *</label>
          {{ form.shop_landmark_1 }}
          {{ form.shop_landmark_2 }}
          {{ form.shop_landmark_3 }}
          {{ form.shop_landmark_4 }}
          {{ form.shop_landmark_5 }}
          {% if form.landmark1.errors %}
              <p class="text-red-600 text-sm mt-1">{{ form.landmark1.errors.as_text }}</p>
          {% endif %}
          {% if form.landmark2.errors %}
              <p class="text-red-600 text-sm mt-1">{{ form.landmark2.errors.as_text }}</p>
          {% endif %}
          {% if form.landmark3.errors %}
              <p class="text-red-600 text-sm mt-1">{{ form.landmark3.errors.as_text }}</p>
          {% endif %}
        </div>
        
        <div class="mb-4">
          <div class="flex flex-wrap items-center space-x-4">
            <div class="flex flex-col">
              <label for="latitude" class="text-gray-700 font-bold mb-1">Latitude *</label>
              {{ form.latitude }}
              {% if form.latitude.errors %}
                  <p class="text-red-600 text-sm mt-1">{{ form.latitude.errors.as_text }}</p>
              {% endif %}
            </div>
        
            <div class="flex flex-col">
              <label for="longitude" class="text-gray-700 font-bold mb-1">Longitude *</label>
              {{ form.longitude }}
              {% if form.longitude.errors %}
                  <p class="text-red-600 text-sm mt-1">{{ form.longitude.errors.as_text }}</p>
              {% endif %}
            </div>
        
            <div>
              <button type="button"
                class="bg-pink-500 text-white p-2 px-4 rounded-lg hover:bg-pink-700 transition duration-300"
                onclick="getLocation()">Get My Location</button>
            </div>
          </div>
        </div>
        
        <button type="submit"
          class="bg-pink-500 text-white p-2 w-full rounded-lg hover:bg-pink-700 transition duration-300">
          Continue
        </button>
      </form>
    </div>

    <script>
        const citiesBydistrict = {
            {% for upazilla in Upazilla %}
            "{{ upazilla.district__name }}": [
                {% for index in upazilla.upazilla_names %}
                "{{ index }}"{% if not forloop.last %}, {% endif %}
                {% endfor %}
            ]{% if not forloop.last %}, {% endif %}
            {% endfor %}
        };

        document.getElementById("district")?.addEventListener("change", function () {
            const district = this.value;
            const upazillaSelect = document.getElementById("upazilla");
            upazillaSelect.innerHTML = '<option value="" disabled selected>Select Upazilla</option>';
            
            if (district && citiesBydistrict[district]) {
                citiesBydistrict[district].forEach(upazilla => {
                    const option = document.createElement("option");
                    option.value = upazilla;
                    option.textContent = upazilla;
                    upazillaSelect.appendChild(option);
                });
            }
        });
    </script>
    <script src="{% static 'app/js/location.js' %}"></script>
</body>
</html>