<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Setup</title>
    <link rel="icon" type="image/x-icon" href="{% static 'app/image/favicon.ico' %}" />
    {% tailwind_css %}
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen ">
    <div class="bg-white p-10 rounded-2xl shadow-lg max-w-lg">
        <div class="flex items-center justify-between mb-6">
            <a href="{% url 'business_register_step1' %}">
                <img src="{% static 'app/image/icon/left-arrow.png' %}" alt="" class="w-8 h-8">
            </a>
            <h2 class="text-2xl font-semibold text-gray-700 text-center flex-1">Write Your Business Name</h2>
            <div class="w-8"></div>
        </div>

        <p class="text-center text-gray-600 mb-6">This is your brand name of your shop</p>

        <form action="{% url 'business_register_step2' %}" method="POST">
            {% csrf_token %}
            
            <div class="mb-4">
                <label for="business-name" class="block text-gray-700 font-medium mb-2">Business Name</label>
                {{ form.business_name }}
                {% if form.business_name.errors %}
                    <p class="text-red-600 text-sm mt-1">{{ form.business_name.errors.as_text }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                <label for="business-title" class="block text-gray-700 font-medium mb-2">Business Title</label>
                {{ form.business_title }}
                {% if form.business_title.errors %}
                    <p class="text-red-600 text-sm mt-1">{{ form.business_title.errors.as_text }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                <label for="website" class="block text-gray-700 font-medium mb-2">Website (if you have, but not necessary)</label>
                {{ form.website }}
                {% if form.website.errors %}
                    <p class="text-red-600 text-sm mt-1">{{ form.website.errors.as_text }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                <label for="info" class="block text-gray-700 font-medium mb-2">Your Business Info (Minimum 50 words required*)</label>
                {{ form.business_info }}
                {% if form.business_info.errors %}
                    <p class="text-red-600 text-sm mt-1">{{ form.business_info.errors.as_text }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                <label for="gender" class="block text-gray-700 font-medium mb-2">For</label>
                {{ form.gender }}
                {% if form.gender.errors %}
                    <p class="text-red-600 text-sm mt-1">{{ form.gender.errors.as_text }}</p>
                {% endif %}
            </div>

            <button type="submit"
                class="bg-pink-500 text-white px-6 py-3 w-full rounded-lg font-medium hover:bg-pink-700 transition duration-300">
                Continue
            </button>
        </form>
    </div>
</body>

</html>